<form #Searchform="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-section">
        <input #searchText="ngModel" type="text" name="SearchText" placeholder="Enter city name" autocomplete="off"
            [(ngModel)]="text" required pattern="^[A-Za-z]+$" autofocus>
        <div class="icon">
            <img src="assets/svg/search.svg" alt="Search Icon">
        </div>
    </div>

    <p *ngIf="searchText.errors && searchText.touched " class="error">Invalid Input
        (Please enter alphabets only)</p>
</form>