:host {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  max-width: 600px;
  width: 100%;
  gap: 20px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 30px;
  background: linear-gradient(
    180deg,
    #485563 21.88%,
    #343f4a 93.23%,
    #29323c 98.14%
  );
  box-shadow: 5px 8px 13px 2px rgba(0, 0, 0, 0.3);
}

.main-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  grid-gap: 20px;
}

@media only screen and (max-width: 599px) {
  :host {
    display: block;
  }
  .container {
    border-radius: 0;
    background: none;
    box-shadow: none;
  }
  .main-wrap {
    grid-template-columns: 1fr;
  }
}
